//
//  macOS.xcconfig
//  Client
//
//  Created by Matthew Massicotte on 2021-06-17.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

FRAMEWORK_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/sparkle/build/Build/Products/Release

SWIFT_VERSION = 5.0

CURRENT_PROJECT_VERSION = 9
MARKETING_VERSION = 1.0.6
